body {
    margin: 0;
}

.wrapper {
    margin: auto;
    width: 80%;
    font-family: Roboto;
    
  }

.header {
    display: flex;
    padding: 40px 72px;
    justify-content: space-between;
    margin-bottom: 200px;
   }

.logo {
    width: 190px;
    height: 35px;
    background: url('img/logo.svg');
  }

.menu {
    display: flex;
    align-items: center;
}

.menu__item {
    position: relative;
    margin-bottom: 0;
    left: 672px;
    margin-right: 26px;
    margin-left: 0;
    font: 500 18px/21px Roboto, arial, helvetica, sans-serif;
    color: #000;
    text-decoration: none;
    transition: opacity: 0.5s;
    }

.menu__item:last-child {
    margin-right: 22px;
}

.menu__item_active::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background: #0056EC;
}

menu__item:after {
    left: 0;
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background: #0056EC;
    opacity: 0;
    transition: opacity .5s;

}
.menu__item:hover {
    opacity: 0.5;
}

.menu__item:hover:after, .menu__item_active:after {
    opacity: 1;
}

.main {
    padding: 0 0 -500px 0;
   
    background: url(img/mainimg.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-position: top right;
    padding-right: 80%;
    width: 78%;
    /* background: top right no-repeat url(img/mainimg.svg); */

}

.main__title {
    margin: 0 0 40px 0;
    font: 600 66px/87px PT Serif, arial, helvetica, sans-serif;
    padding: 0 72px;
    letter-spacing: 2.3px;
}

.main__subtitle {
    margin-top: 0;
    margin-bottom: 190px 0 41px 0;
    width: 57%;
    font: 300 21px/23px Roboto, arial, helvetica, sans-serif;
    padding: 0px 68px;
    letter-spacing: 0.5px;
}

.main__title-text_highlight {
    background: #ECF3FF;
}
.main__button {
    display: inline-block;
    font: 18px/34px Roboto, arial, helvetica, sans-serif;
    color: #fff;
    background: #0056EC;
    padding: 8px 26px;
    text-decoration: none; 
    border-radius: 4px;
    margin:26px 82px 41px 70px;
}